<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="BidList.Properties.Settings.ConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=&quot;D:\MyProjects\FoxPro DBs\Sample Company v19-1\&quot;;User ID=Supervisor"
        providerName="System.Data.OleDb" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
